.Container {
    display: flex;
    flex-direction: column;
    background: rgba(157, 157, 157, 0.17);
    border-radius: 10px;

    max-width: 25%;
    min-height: 50%;
    margin: 0 auto;
    padding: 10px;
}

.FormLabel,
.FormInput,
.FormButton {
    margin: 10px;
    display: block;
}

.LoginFrom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormLabel {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.FormInput {
    border: 0;
    color: #FFFFFF;
    font-size: 24px;
    background: rgba(126, 119, 119, 1);
    border-radius: 20px;
    min-height: 50px;
}

.FormText {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

#create {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #BB86FC;
}

.FormButton {

    background: rgba(187, 134, 252, 1);
    border-radius: 10px;

    border: 0;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
}