.StartingPage {

    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #121212;
}

h1 {

    position: absolute;
    height: 140px;
    left: 338px;
    right: 338px;
    top: 56px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 116px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}