.Container {
    position: absolute;
    width: 400px;
    height: 532px;
    left: calc(50% - 400px/2);
    top: calc(50% - 532px/2 + 27px);

    background: #9D9D9D;
    opacity: 0.17;
    border-radius: 10px;
}

.LoginFrom {
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

input {
    border: 0;
    color: #FFFFFF;
    font-size: 24px;
}

#password {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 545px;
    top: 463px;

    background: linear-gradient(0deg, #7E7777, #7E7777), #7E7777;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#email {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 545px;
    top: 330px;

    background: linear-gradient(0deg, #7E7777, #7E7777), #7E7777;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#repeat-password {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 545px;
    top: 577px;

    background: linear-gradient(0deg, #7E7777, #7E7777), #7E7777;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

label {
    text-align: left;
    display: block;
}

#password-label {
    position: absolute;
    width: 176px;
    height: 32px;
    left: 553px;
    top: 431px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#email-label {
    position: absolute;
    width: 218px;
    height: 31px;
    left: 557px;
    top: 299px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#repeat-password-label {

    position: absolute;
    width: 283px;
    height: 32px;
    left: 553px;
    top: 545px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

button {

    position: absolute;
    width: 203px;
    height: 64px;
    left: 630px;
    top: 691px;

    background: #BB86FC;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    cursor: pointer;
}